.ImageInfo {
  background: rgba(255, 255, 255, 0.75);
  word-break: break-all;
  max-width: 100%;
  overflow: scroll;
  position: absolute;
  margin: 0;
  /* margin-left: .5rem; */
  /* margin-right: .5rem; */
  padding-left: .25rem;
  padding-right: .25rem;
}
.ImageInfo.PhotoError {
  background: rgba(156, 66, 60, 0.63);
  border-color: red;
  color: navajowhite;
  text-shadow: 1px 1px brown;
  bottom: 0;
  left: 0;
}
.PhotoError:hover {
  z-index: 5;
}
.PreviewLoading {
  width: 290px;
}
.GalleryLink {
  bottom: 0;
  left: 0;
  padding-left: .25rem;
  padding-right: .25rem;
}
/* .PhotoUploader .Image {
  padding: .5rem;
} */
.ImageCopy {
  padding: .5rem;
  border: 1px solid grey;
  background: #cecece;
  border-radius: 5px;
  margin: .25rem;
  height: 200px;
  vertical-align: top;
}
.PreviewLoadingSpan {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.75);
  padding: .5rem;
  white-space: nowrap;
}